<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Senate Vue</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="congres113.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body data-Chamber="senate">
    
    
    
    
    <div class="container">


        <header class="page-header">
            <div class="row">

                <div class="col-sm-6"> <img src="congress_logo.png" class="my_logo" alt="congress_logo" width="100" height="100">
                </div>

            </div>

            <h1>TGIF</h1>
            <a class="pull-right" href="info@tgif.net">
          <span class="glyphicon glyphicon-envelope"></span>  info@tgif.net
        </a>
        </header>
        <div>
            <nav class="navbar navbar-inverse">


                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="home-dataVue.html">Home</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Congress 113
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="house-dataVue.html">House</a></li>
                                <li><a href="senate-dataVue.html">Senate</a></li>

                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Attendance
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="house-attendanceVue.html">House</a></li>
                                <li><a href="senate-attendanceVue.html">Senate</a></li>

                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Party Loyalty
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="house-loyalty.html">House</a></li>
                                <li><a href="senate-loyaltyVue.html">Senate</a></li>

                            </ul>
                        </li>

                    </ul>
                </div>



            </nav>

        </div>

        <!--Table container-->
        <div id="app">
            <h2>{{title}}</h2>

            <div class="row">
                <div class="col-sm-6">
                    <p class="text-justify">First convened in 1789, the composition and powers of the Senate are established in Article One of the U.S. Constitution. Each state is represented by two senators, regardless of population, who serve staggered six-year terms. The Senate has several exclusive powers not granted to the House, including consenting to treaties as a precondition to their ratification and consenting to or confirming appointments of Cabinet secretaries, federal judges, other federal executive officials, military officers, regulatory officials, ambassadors, and other federal uniformed officers, as well as trial of federal officials impeached by the House.</p>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div name="partyFilter" id="checkboxes" action="" method="">
                        <input type="checkbox" name="filterStatus" id="cbR" value="R" /><label for="party">Republican</label>
                        <input type="checkbox" name="filterStatus" id="cbD" value="D" /><label for="party">Democrat</label>
                        <input type="checkbox" name="filterStatus" id="cbI" value="I" /><label for="party">Independent</label>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="pull-right">
                        <div class="btn-group">



                            <select id="dropdown"> 
                                <option>All states</option>
                                <option v-for ="state in states">{{state}}</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th v-for="thead in theads">{{thead}}</th>

                    </tr>
                </thead>
                <tbody>
                    <tr v-for="member in members">
                    
                        <td><a v-bind:href="member.url">   {{member.first_name}} {{member.middle_name}} {{member.last_name}}</a></td>
                        <td>{{member.party}}</td>
                        <td>{{member.state}}</td>
                        <td>{{member.seniority}}</td>
                        <td>{{member.votes_with_party_pct}} %</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <footer class="navbar-fixed-bottom">
            <div style="background-color: #599ad3;">

                <div class="footer-copyright text-center py-3">© 2016 TGIF:All rights reserved
                </div>

            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

    <script src="houseVue.js"></script>


</body>

</html>
